[2021-07-21 20:48] Piiit opened #1 "CI/CD online"
As a NOI App developer I want to have the CI/CD infrastructure online in order to be faster in the release and test of new versions of the app

- [x] Dimension provides a hello-world to get started with the pipelines
- [x] NOI creates a CI pipeline with public feedback logs
- [x] NOI creates a CD pipeline to build and push the app to a test channel
  - [x] First release on the internal test channe

[2021-07-21 20:48] Piiit opened #2 "Personalized splash screen"
As a NOI community manager I want to have a personalized splash screen in ordder to allign the app to the NOI brand

[2021-07-21 20:48] Piiit opened #3 "Today@NOI"
As a app user I want to see the list of all events happening at NOI Techpark in order to be always updated.
The list of events are available through the Open Data Hub API:
https://tourism.opendatahub.bz.it/swagger/index.html#/EventShort/get_v1_EventShort
The interface should:
- [ ] show the list of all events (information to be shown: date, start time, end time, organizers, room, title);
- [ ] sho

[2021-07-21 20:49] Piiit opened #4 "NOI Community"
As an app user I want to find the data about the all companies, startups, institutions, laboratories and communities that are part of the NOI Techpark in order to to be always updated.​
The data actually are not available through APIs and the source is the NOI website:
- Companies: noi.bz.it/it/aziende ​
- Institutions: noi.bz.it/it/istituzioni ​
- Laboratories: noi.bz.it/it/laboratori-sviluppo-te

[2021-07-21 20:49] Piiit opened #5 "NOI Contacts"
As an app user I want to find all contact information of all people who are working at the NOI Techpark in order to easily find the contacts I need.​
The data actually are not available through APIs and the source is the NOI website:

[2021-07-21 20:49] Piiit opened #6 "NOI Onboarding"
As an app user I want to find the Onboarding Manual with all the necessary information about NOI in order to be always updated about rules, rooms, etc.
At the moment, the manual is a pdf, but should be a digital product by autumn, ready to be implemented in the app. SO for the moment the app should integrate a link to the PDF or the webapp

[2021-07-21 20:49] Piiit opened #7 "NOI Maps"
Related to https://github.com/noi-techpark/it.bz.noi.community/issues/7 (not blocking)

As an app user I want to find information about where are located all services (es. restaurants, meeting rooms, etc.), companies, laboratories and institution in the park in order to find them easily.​
The data are made available through the Open Data Hub API:

Useful link for the development:
- web application

[2021-07-21 20:49] Piiit opened #8 "NOI room booking system"
As an app user I want to book rooms or other stuff (e.g. monitors) that I need need.
In the first version of the MVP the app should link the actual booking system:
https://rooms.noi.bz.it/​

[2021-07-21 20:49] Piiit opened #9 "NOI Restaurants"
As an App user I want to see the list of the restaurants at NOI Techpark to better plan my lunch.
The restaurants should be listed in a list view and on one item click it sould open a detail view that shows:
- name
- description
- link to menu (if available)
- phone number (if available)
- email (if available)
- address

[2021-07-21 20:49] Piiit opened #10 "NOI Yammer"
As an app user I want to have access to Yammer, the internal communication tool of NOI Techpark.​
link: web.yammer.com/noi.bz.it ​

[2021-07-21 20:49] Piiit opened #11 "Home screen"
As an App user I want to have a home screen in order to see the main information about the Community and the primary functionalities of the app

[2021-08-12 18:22] Piiit commented on #1
Internal testing worked, it was automatically installed to the corresponding play store channel
![photo_2021-08-12_20-22-27](https://user-images.githubusercontent.com/6096063/129248708-3a82be4d-a561-4f24-9934-016096ab33cd.jpg)

[2021-08-13 08:46] Piiit commented on #1
@sseppi I invited Alex to this party, to solve the App Bundle issue... due to my absence the next two weeks.

[2021-08-31 08:39] Piiit commented on #1
@alexlanz The deployment failed... see https://github.com/noi-techpark/it.bz.noi.community.android/runs/3470829818?check_suite_focus=true

[2021-09-09 07:25] stezan commented on #11
Hi @Piiit, I have a question about events visualisation on Home screen (in the XD UI the tab name is Today).

Without applying any filter (so let's say in the initial event list situation), which events should we request? Because I noticed that if I pass no additional parameters, the API responds with all the events, also those of 2017.
Should we pass the `startdate` parameter valorised with "toda

[2021-09-09 13:54] stezan commented on #3
Hi @Piiit, I have a question about events visualisation on Home screen (in the XD UI the tab name is Today).

Without applying any filter (so let's say in the initial event list situation), which events should we request? Because I noticed that if I pass no additional parameters, the API responds with all the events, also those of 2017.
Should we pass the startdate parameter valorised with "today"

[2021-09-09 13:57] stezan commented on #3
Other two doubts:

1. selecting **This week** do I have to show the events of the current week? For example, today is Thursday, so I have to show events from Thursday to Sunday or from Monday to Sunday?
2. selecting **This month** do I have to show the events of the current month? For example, today is 9th September, so I have to show events from 9 to 30 September or from 1 to 30?

[2021-09-10 12:41] stezan commented on #3
Another point: in the events API, the majority of the events objects do not have the url of the image for the event.

Probably the best solution here is putting a placeholderImageUrl field that I can used if the event image url is not available in the API.

Let me know, thanks!

[2021-09-10 13:09] Piiit commented on #3
Generally a good idea to have placeholder images, but we should have them on application level, not in the API

[2021-09-10 13:10] RudiThoeni commented on #3
Hi, for the placeholder image, i think simplest way is to resolve it on application level, i dont think the placeholder image will change often

[2021-09-10 13:11] Piiit commented on #3
@stezan As for the other questions, we should ask the group about the behavior of this... could you please write an email to ask it, because most members of them do not use github... thx

[2021-09-10 13:18] stezan commented on #3
Okay, so I need the asset for the placeholder image @Piiit , whom should I ask for the placeholder image?

[2021-09-10 13:19] stezan commented on #3
@Piiit  whom should I ask? Stefano or design group? Do you have email contacts?

[2021-09-10 14:04] sseppi commented on #3
@stezan I suggest to use the following link to post commet or questions to be shared with the designers:
https://xd.adobe.com/view/5b7d4407-5ac5-4168-ae52-1ae8b77c6419-0e2e/screen/6c8f21e0-330f-4192-b549-e8e88f329215/

[2021-09-10 14:50] stezan commented on #3
Perfect, thanks @sseppi

[2021-09-13 07:24] stezan commented on #3
@Piiit where can I retrieve the suggested events showed in event details?

[2021-09-13 12:46] stezan commented on #3
@Piiit if we request the default events the API answer with information that in my opinion are not correct. For example the first event title in "inagibile per pezzi crollati". Is there a parameter to send to the API for getting the right collection of events?

![device-2021-09-13-144528](https://user-images.githubusercontent.com/22938515/133085932-7b070629-78b3-43c8-b8b7-0af85a9e1abf.png)

[2021-09-13 13:12] Piiit commented on #3
@stezan Could you please provide the API call, so we can check what you mean and suggest what to do... thanks

[2021-09-13 13:16] stezan commented on #3
@Piiit thats the API call https://tourism.opendatahub.bz.it/v1/EventShort?pagenumber=1&pagesize=20&startdate=2021-09-13

Thanks

[2021-09-13 14:58] Piiit commented on #3
@stezan Hi, I think you could add the following: `&onlyactive=true&eventlocation=NOI`... in general, have a look at our Swagger at https://api.tourism.testingmachine.eu/swagger/index.html#/EventShort/get_v1_EventShort

...and if you still need some inspiration (a.k.a hack) go to https://today.noi.bz.it/ and look into the developer console ;-)

[2021-09-14 09:07] stezan commented on #3
@Piiit on the https://today.noi.bz.it/ the endpoint is https://tourism.opendatahub.bz.it/v1/EventShort/GetbyRoomBooked?startdate=1631609651676&eventlocation=NOI&datetimeformat=uxtimestamp&onlyactive=true --> https://tourism.opendatahub.bz.it/v1/EventShort/GetbyRoomBooked NOT https://tourism.opendatahub.bz.it/v1/EventShort that as reported in the Swagger documentation is for **"GET EventShort List

[2021-09-14 09:09] stezan commented on #3
@Piiit for the "Filter by technology sector" UI should we map the parameter (Green/Food/Digital/Automotive) with integer, as done in https://noi.bz.it/it/search-events with the dropdown **Technological sectors**?

[2021-09-14 12:25] RudiThoeni commented on #3
Hi stezan

You are right today.noi.bz.it uses this grouped by Room special call.
Not sure you need this call as you want to display the events like on https://noi.bz.it/en/search-events correct?
So i think  https://tourism.opendatahub.bz.it/v1/EventShort is the right call for you

`&onlyactive=true&eventlocation=NOI` gets all active Events that take place on NOI Techpark

For the filters
-Filter b

[2021-09-15 14:57] stezan opened #15 "Mapping of API fields to UI"
<img width="350" alt="Screenshot 2021-09-15 at 16 54 07" src="https://user-images.githubusercontent.com/22938515/133457134-b63fb1eb-8e9d-4339-9def-e70726fe0ed5.png">

We would like to confirm the mapping between the fields in the API response and our UI

- Id --> eventId
- Shortname --> title of the event
- EventDescription --> Section about in event details
- EventLocation --> location (basso a s

[2021-09-15 15:06] stezan opened #16 "Mapping of filter switches"
<img width="382" alt="Screenshot 2021-09-15 at 17 04 42" src="https://user-images.githubusercontent.com/22938515/133459151-e718d3cd-9f96-4100-bba2-a839fca7d637.png">

For every switch in the UI which is the correspondent parameter we should pass in the API of the events?

[2021-09-15 15:09] stezan opened #17 "Highlight room/building"
Tapping on FIND ON MAPS in event details, how can we highlight the correct room/building on https://maps.noi.bz.it/?

[2021-09-15 15:10] stezan commented on #17
@Piiit and @RudiThoeni suggested to use https://tourism.api.opendatahub.bz.it/v1/EventShort/RoomMapping, we need the key of the url as parameter response in the API, thanks

[2021-09-16 07:52] RudiThoeni commented on #15
- Id --> eventId OK
- Shortname --> title of the event NO, use EventDescriptionDE, EventDescriptionIT, EventDescriptionEN
- EventDescription --> Section about in event details NO, use EventTextDE, EventTextIT, EventTextEN
- StartDate --> date and time of event start  OK
- EndDate --> date and time of event end  OK
- ImageGallery[0].ImageUrl --> event image (90% of cases ImageGallery array is null

[2021-09-16 08:04] RudiThoeni commented on #16
I created an endpoint where you can retrieve
-TechnologyFields
-CustomTagging

https://tourism.opendatahub.bz.it/v1/EventShortTypes

Type identifies the field where to filter on, Key is the string value to filter

Type: CustomTagging
on the api Filter with
`&rawfilter=in(CustomTagging.[],"Key")`

Type: TechnologyFields
on the api Filter with
`&rawfilter=in(TechnologyFields.[],"Key")`

If you want

[2021-09-16 12:52] stezan opened #18 "Instrumentation test pipeline fails because of Glide library"
https://github.com/DimensionSrl/it.bz.noi.community.android/runs/3620111095?check_suite_focus=true
The pipeline fails because it can not find the Glide library `com.github.bumptech.glide:glide:4.12.0`

Glide is a very common Android library for asynchronously download images from URLs. Do you know which could be the problem with the pipeline?

The Glide version is correct https://github.com/bumpte

[2021-09-16 15:30] chiaraDimension commented on #16
Hi @RudiThoeni ,
from the endpoint you created, we can retrieve the possibile values to pass to `TechnologyFields` and `CustomTagging` filters respectively. But the link with the UI is still missing.

1. Is the UI fixed or can it change depending on the values we retrieve from this new endpoint?

1. If the UI is fixed, which id corresponds to each switch component?

   i.e. for event type section:

[2021-09-16 16:15] RudiThoeni commented on #15
ok they said me that only eventlocation=NOI will be shown by NOI App

[2021-09-16 16:20] RudiThoeni commented on #16
Hi Chiara
You mean the UI of the filters should be controlled by the api?
I think let's keep it simple the UI is fixed but the values are retrieved from the api. We always try to avoid to add a endpoint which is valid only to control an app on a generic api......

I updated the EventShortTypes Response to be more flexible in future
(i think the app is only in english right?)

CustomTagging (Identi

[2021-09-17 08:04] matax87 commented on #3
For what I have seen the EventShort api (and others?) doesn't support repeating events. Events have a longer duration when they span across multiple days.

E.g.

<img width="345" alt="Screenshot 2021-09-17 at 09 53 21" src="https://user-images.githubusercontent.com/4108197/133745989-b8c63de3-ba79-488b-96ad-ec5598d1c7b1.png">

[code]

Which in a calendar view correspond to:

<img width="1378" alt="

[2021-09-17 12:14] RudiThoeni commented on #3
Hi, yeah i know this problem.....  repeating events is not supported so we have to work with what we have..... there are certain events that takes place over multiple days........

I changed the date query to this "IN" behaviour now it should do the work :)

[2021-09-17 12:20] alexlanz commented on #1
This should work now. There was just an error, because the version number already exists in Google Play and so you have to bump the version up.

[2021-09-17 12:34] stezan commented on #4
Hi @Piiit on the UI is present also Team NOI row. Which is the associated url to open?

[2021-09-17 14:39] stezan commented on #1
yeah that's true, the version has to be manually bumped from the code. Automatically updating it from CI/CD is not recommended

[2021-09-20 06:01] Piiit commented on #4
@stezan It should be this one --> https://noi.bz.it/en/about-us#t

[2021-09-20 06:29] matax87 commented on #3
Can you give me an example?

Thank you

[2021-09-20 08:00] RudiThoeni commented on #3
sorry the data for your example was deleted
lets take this, eventshort-17487 goes from 2021-09-20T08:30:00 to 2021-09-22T16:30:00

filtering on 2021-09-20 returns the data
 https://api.tourism.testingmachine.eu/v1/EventShort?startdate=2021-09-20%2006:59&enddate=2021-09-20%2023:59&eventlocation=NOI&onlyactive=true&removenullvalues=true

[2021-09-20 08:35] stezan commented on #15
@RudiThoeni on some events `EventDescriptionDE` or `EventDescriptionEN` or `EventDescriptionIT` (that, as you said,  is used as event title) is missing. For example with the URL https://tourism.opendatahub.bz.it/v1/EventShort?onlyactive=true&eventlocation=NOI&pagenumber=1&pagesize=20&startdate=2021-09-20 the first event is

[code]

What should we do in this case?

[2021-09-20 08:50] RudiThoeni commented on #3
sorry posted the staging area link ;)
https://tourism.api.opendatahub.bz.it/v1/EventShort?startdate=2021-09-20%2006:59&enddate=2021-09-20%2023:59&eventlocation=NOI&onlyactive=true&removenullvalues=true

[2021-09-20 08:58] RudiThoeni commented on #15
i think for the MVP it is enough to have Fallback to EventDescription when one of the language relevant desc is empty........
the problem is in the import of the data from another interface, we have to fix it there...... the app should simply display the language relevant Title, and if it is empty lets add a fallback to the field EventDescription ..........

[2021-09-20 09:20] RudiThoeni commented on #17
Hi
I added
AnchorVenueRoomMapping  (on root level)
and
SpaceDescRoomMapping (RoomBooked)

Use this as Key for the Roommapping list, if it is present in the dictionary show the link to  maps.noi.bz.it, otherwise there is no link ;)

[2021-09-20 09:29] chiaraDimension opened #19 "More screen"
@Piiit, @RudiThoeni
We need the URLs to open from the several items of tab More. Could you please list them?

These are the items from the UI:

- Book a room
- Come on board
- Provide Feedback

(My account and App Settings will not be present in MVP 1)

[2021-09-20 09:43] Piiit commented on #19
@sseppi Could you please check this?

[2021-09-20 10:00] Piiit commented on #18
@alexlanz please have a look.. thx

[2021-09-20 10:17] alexlanz commented on #18
Is this issues still open? Because I saw that you made also some commits afterwards that where green again: https://github.com/DimensionSrl/it.bz.noi.community.android/commits/feature/app-skeleton

[2021-09-20 10:18] alexlanz commented on #18
Otherwise, I think this could help: https://github.com/bumptech/glide/issues/2993

[2021-09-20 10:31] chiaraDimension opened #20 "App languages"
@sseppi Which languages should we provide for the app? Will it be only in English or in three languages (English - Italian - German)?

cc @Piiit, @RudiThoeni

[2021-09-20 13:45] sseppi commented on #20
@chiaraDimension I've asked our communication and they told me that the app should be in three languages.

The idea could be that the app will take per default the language of the operating system (if Italian, German or English) or English in case that the Operating System language is another one. The user should have in any case the possibility to change the language settings in the general setti

[2021-09-20 13:47] sseppi commented on #19
I've asked to our communication more details about this points. As soon as I have feedback from them I will let you know.

[2021-09-20 13:47] chiaraDimension commented on #9
@sseppi Could you please give us the links to menu? We also need the images of the restaurants

[2021-09-20 13:48] macteo commented on #20
This is not how the user expects the apps to work and technically its not easy to require this setting to be changed at runtime (it's fighting against the operating systems). So eventually I'll put it in a following MVP if the request arises.

Furthermore iOS let you override the language setting on a per-app basis in the system provided Settings app.

[2021-09-20 13:57] sseppi commented on #9
Hi,
here below the links to the menus. Please note that the menu of Alumix and NOISTERIA are active only from 11am till 2pm (NOISTERIA) and from 10am till 2.30 pm (Alumix).

IT:
- NOISTERIA: https://go.alumix.it/menu/noisteria/
- Rockinbeets: https://www.rockinbeets.com/
- Alumix: https://go.alumix.it/menu/alumix/

DE:
- NOISTERIA: https://go.alumix.it/menu/noisteria/
- Rockinbeets: https://www.ro

[2021-09-20 14:02] chiaraDimension commented on #16
@sseppi these points are still open. Could you please give us a feedback?

[2021-09-20 14:06] sseppi commented on #16
Unfortunately Marion is out of office till the 22nd, as soon as she will be back I will ask her and let you know.

[2021-09-20 14:24] chiaraDimension commented on #16
@RudiThoeni could you please add the Italian and German descriptions in EventShortTypes Response? The app will be in three languages (see #20)

[2021-09-20 14:32] chiaraDimension commented on #9
Is this the menu of NOI Community Bar?

Are there also English versions?

[2021-09-20 15:06] sseppi commented on #9
Yes, this is the manu of the Community Bar.
I don't think so... I will ask Marion as soon as she is back in office.

[2021-09-20 15:07] sseppi commented on #16
@RudiThoeni just let me know if we don't have the content in three languages, so I can define a strategy with Marion.

[2021-09-21 05:24] RudiThoeni commented on #16
@sseppi no i don't have i will add the same english desc to key de,it and then Marion can provide me the right german italian descs
https://tourism.opendatahub.bz.it/v1/EventShortTypes

[2021-09-21 07:24] sseppi commented on #16
@RudiThoeni I would avoid to put the English version also in the other languages. I would prefer to do this filtering directly in the app. In this direction I see two possibilities:
- the app uses followback language in case of missing translation;
- the app shows only the events that has the description in the showed language.
@chiaraDimension which solution do you suggest?

I will then ask Mario

[2021-09-21 07:39] chiaraDimension commented on #16
@sseppi Before answering, let me clarify that the descriptions to add to the above endpoint response are relative to switch labels in filters screen.

These ones, to understand:
<img width="366" alt="Screenshot 2021-09-21 at 09 38 33" src="https://user-images.githubusercontent.com/90265787/134130982-c748a093-8d15-4294-8b50-a17cf615ccc6.png">

[2021-09-21 08:08] RudiThoeni commented on #16
@sseppi i think we are mixing up things

one point is the text of the filter switches.
Here i created an Endpoint https://tourism.opendatahub.bz.it/v1/EventShortTypes
which has the filter "value" and the text to display stored.... The app takes this info and displays it so we can always change the descriptions ..... for this in the meantime i added "de" and "it" as a copy of the "en" Text

the sec

[2021-09-21 10:40] chiaraDimension commented on #8
@Piiit We have encountered a problem with rooms.noi.bz.it SSL certificate. Could you please check if it is valid? If it is, could you replace it with one that also includes intermediates? As you can see from https://ssltools.godaddy.com/views/certChecker, it seems the problem is that intermediates are missing. Probably the browser can work anyway, instead the app can not retrieve them.

cc @stezan

[2021-09-21 12:14] Piiit commented on #8
Please try with https://outlook.com/owa/calendar/NOITechpark1@noi.bz.it/bookings/ in the meantime... I will write to our IT department about the other URL

[2021-09-21 12:15] Piiit commented on #8
Please make all the URLs configurable, such that we can immediately find and change them in the source code... thanks

[2021-09-21 12:27] chiaraDimension commented on #8
I already try this url and I confirm you that it works. The problem regards only the certificate of the other one. In the meantime we can use this one.

[2021-09-21 12:48] Piiit commented on #8
Thanks @chiaraDimension

Our IT dept. confirmed that the new certificate due in 2 weeks, will be with intermediates installed.

[2021-09-24 13:43] sseppi commented on #16
@RudiThoeni  @chiaraDimension
I discussed this topic with the communication of NOI and we agreed that, since we are not sure to already have all needed informaton, we postpone this feature of filtering to the next release.

[2021-09-24 13:50] sseppi commented on #9
I talked with aour communication department and, since there are no translation of all restaurants, we have to use italian or german as fallback and then in the next iteration insert also the missing languages.

[2021-09-24 13:55] sseppi commented on #19
I have some news also about this issue:
- **Book a Room**: I'm waiting for the link with the parameters that will provide me our IT department;
- **Come on Board**: Studio hug is still developing the mobile website, we will try to get a first beta at the beginning of next week and provide you the link as soon as possible;
- **Provide Feedback**: Beginn of next week the Communication department wil

[2021-09-24 14:07] sseppi commented on #19
@chiaraDimension I've already got the link for the Provide Feedback section:

https://forms.office.com/Pages/ResponsePage.aspx?id=R_WstlLDCEenJewOZixdERIOZ0hE1k5LlWwUM_AXhdlUNUZET1ZITjlXN0tLODBMVVJWNjNYTlVVQy4u&embed=true

[2021-09-27 06:38] Piiit opened #28 "Warning in test releases: no deobfuscation file"
Google shows:
[code]

What should we do to get rid of this warning?

[2021-09-27 08:53] macteo commented on #28
The compilation step creates a mapping file to deobfuscate the code.
The GitHub action should be updated to grab this file generated at compile time and upload it to Play Store alongside the app bundle.
I’ll let @stezan add more informations on this topic.

[2021-09-27 09:57] Piiit commented on #28
Thx... I commented that file out at the moment, because it was not generated...

[2021-09-27 13:09] chiaraDimension opened #29 "Localized strings"
The XD file provides only English copy for labels appearing in the app. We'd need Italian and German translation. Otherwise the fields will report "Missing value" text.

You can find all strings in this document: https://docs.google.com/spreadsheets/d/1Yiol3UqS-0I9q4R5HLifVMdGbTSe3ZwuYBAMPyZJthc/edit?usp=sharing.

You can edit "**Localized Strings**" sheet. English column is already filled, you sh

[2021-09-27 13:43] sseppi commented on #29
@chiaraDimension can you provide me access to the file with full rights so I can share it also with our communication?

[2021-09-27 14:26] chiaraDimension commented on #29
You should already be able to edit the file. If you share the link with others, then they can request editing rights to Daniele, directly from the Google Sheet. Let me know if you have problems.

[2021-09-27 14:31] sseppi commented on #29
@chiaraDimension super, I got the rights and forwarded it to our communication department which will check the content and insert the translation wherever needed.

[2021-09-27 14:41] matax87 commented on #9
@sseppi and @Piiit about restaurant data to provide to us, what did you choose?
1. custom and new web API / json
2. hardcoded inside the app (requires app updates and Apple/Google review each time)

[2021-09-27 15:32] sseppi commented on #9
The long term view is to have APIs that provides this kind of information. In my opinion, considering the little time available, for the first MVP I would go for the solution  2.
In any case please consider that in future this information will be made available through a dedicated API.

@Piiit are you agree?

[2021-09-28 06:08] matax87 commented on #9
@sseppi ok, then we need the most accurate data to embed into the app. By design mock-ups we need at least opening days and hours and images of the three restaurants.

Thank you!

[2021-09-28 06:37] chiaraDimension commented on #19
@sseppi news about other URLs?

[2021-09-28 07:52] sseppi commented on #19
@chiaraDimension

- for the **Book a Room** i'm still waiting the right link;
- for the **Come on Board** we will create a link to an "Hello World" static page that then will be replaced once we have the right static page. So we can provide you the link. Do you have any suggestion for the link?

[2021-09-28 12:21] chiaraDimension commented on #19
@sseppi
it doesn't matter to us which link is, the important thing is that there is one per language (it-en-de)

[2021-09-28 13:02] sseppi commented on #19
@chiaraDimension

Our IT told me to use the following link for Book a Room:
https://outlook.office365.com/owa/calendar/NOITechpark1@noi.bz.it/bookings/

[2021-09-30 10:09] #20 closed

[2021-09-30 13:52] stezan commented on #18
Now it works, I think we can close this comment

[2021-09-30 13:52] #18 closed

[2021-09-30 13:59] stezan commented on #28
the mapping file is the file used for the automatic deobfuscation, when you compile the application in release it is automatically generated

[code]

I saw that you placed a comment near `mappingFile: mapping-${{ github.sha }}.txt`. Why? Maybe is it the wrong path?

[2021-09-30 15:07] matax87 commented on #29
@sseppi on iOS we have some localised strings which must end up in a separate file. Can you inform your communication department to fill and check out both "Localized Strings" and "Localized InfoPlist iOS" sheets? More over the key values must not be changed otherwise the app won't display the correct localisation strings.

I will try to add more policies and instruction inside the "Policies & Ins

[2021-10-01 06:00] Piiit commented on #28
@stezan The mapping file could not be found so I had to comment this out... I will try to fix this asap

[2021-10-01 15:41] #15 closed

[2021-10-04 15:50] stezan opened #37 "App version inside tab More"
Add app version to tab More

[2021-10-05 06:48] Piiit commented on #37
OK, it is reasonable to add this information

[2021-10-06 15:01] macteo opened #40 "Solve Play Store update issues"
@Piiit I think that the automatic update failures are due to the _unreviewed_ status of the app.

I would suggest you to publish the app on a Closed testing track (even one without any tester list enabled) and let Google review it.

This should let the app be listed on the Play Store for internal testers and allow automatic updates of the app as soon as a new build is published.

[2021-10-06 15:26] matax87 opened #41 "App Version"
@Piiit we need to decide the app version of the first mvp and a set of policies for future version updates (semver, year/month/day, etc.). At this moment on Android the app's version is the default one "1.0".

@macteo if you have any suggestion feel free to add it!

Please note that on Android this is the `versionName ` value; whereas, the `versionCode ` value is the so called build number (versio

[2021-10-06 18:26] matax87 commented on #41
Maybe we can set a custom CD workflow for git tags and get the version from their names.

Moreover it would be nice to automatise also a change log creation based on git commit messages since the latest release.

[2021-10-08 08:16] Piiit opened #43 "In "eats" the menu button overlaps the opening times"
I use the German version

[2021-10-08 13:38] Piiit commented on #40
![Selection_121](https://user-images.githubusercontent.com/6096063/136567086-88317776-0683-4a54-8d6c-34df9e65feb9.png)

We need to wait for Google now

[2021-10-11 16:41] LucaMiotto opened #46 "App crash at every start after splash screen"
As you can see from the video below application start, show sprint screen and then crash:
https://user-images.githubusercontent.com/29308662/136825173-521d5211-d2c7-4f77-b3b2-17aa951c69cb.mp4

Tried to unistall and reinstall and also to clear cache of Google Play but nothing changed.

Phone: Google Pixel 4a
Android Version: 11 (1 agosto 2021)

[2021-10-12 08:17] RudiThoeni commented on #15
the event is inserted this way.... from 27.10 14:00 - 29.10 12:00 its 3 days long....
What cards should be created in this case? one for each day?  But this result in a mess, because then we have

day 1 14:00 - 23:59
day 2 00:01 - 23:59
day 3 00:01 - 12:00

today.noi.bz.it uses the "Roombooked" (with a special rule:
`where NOT Comment Like  "x"`
for this reason only this data is shown
`{
Space: "N

[2021-10-12 08:35] chiaraDimension commented on #3
Hi @ohnewein,
this option has not been discussed during analysis and design UX/UI steps, therefore it has not been implemented.  If you would like to add it, we need:

- UI
- field of json event to use (we have seen that there is `webAddress`, but we need confirmation that this is the right one)
- confirmation that CTA is always of signup type (i.e. `webAddress` can not be filled with other inform

[2021-10-12 12:19] MarE1991 opened #49 "Font types and sizes"
Please integrate Font type and sizes accordingly:
- Source Sans Pro Semibold
- Source Sans Pro Regular

App Version 1.0 | Samsung Galaxy A40

[2021-10-12 13:43] chiaraDimension commented on #3
@MarE1991 this is the issue to check

[2021-10-12 13:44] #8 closed

[2021-10-12 13:44] #11 closed

[2021-10-12 13:51] matax87 opened #50 "Localization of /v1/EventShort/RoomMapping"
At the moment the service `/v1/EventShort/RoomMapping` just returns a map with key (`AnchorVenueRoomMapping`) to  the Italian map url value. The service needs to be updated in order to support localisation (it, en, de)

E.g.

Actual response
[code]

Suggested solution

[code]

[2021-10-12 13:57] sseppi commented on #28
https://support.google.com/googleplay/android-developer/answer/9848633?hl=it

https://play.google.com/console/u/0/developers/5434264036210904575/app/4973207995635506069/bundle-explorer?artifactId=4859608787505641791&tab=downloads

[2021-10-12 13:57] #28 closed

[2021-10-12 14:15] Piiit commented on #49
@MarE1991 I removed "invalid" her, because it means that the error reporting is per-se non-valid

[2021-10-12 14:17] Piiit commented on #50
@RudiThoeni The new maps website would be like this:

[code]

It redirects to "/en" with the new map version, if the language in the URL is missing

[2021-10-12 15:41] MarE1991 commented on #15
@Piiit we cannot avoid inserting events that go over more days. So what could be a technically practicable solution? Do I need to involve Studio Hug?

[2021-10-12 16:11] MarE1991 opened #52 "Section "Eat" - the problem with the crashing of the app when trying to tap on any "MENU" button continues to exist"
- [x] I downloaded the new version as we said during our sprint meeting, but unfortunately, whenever I try to tap on the MENU button of any of the three restaurants, the app crashes.
- [x] Moreover, could you please change the order of the three restaurants? The first one should be NOI-COMMUNITY BAR (written with a hyphen between), then NOISTERIA and then ALUMIX

German Version
Samsung Galaxy A40

[2021-10-13 06:25] matax87 opened #53 "Missing translations"
@MarE1991 as pointed out also by @Piiit there are missing translations in the google sheet https://docs.google.com/spreadsheets/d/1Yiol3UqS-0I9q4R5HLifVMdGbTSe3ZwuYBAMPyZJthc/edit#gid=0. I commented and assigned the task of updating values to you.

PS
1. I opened this on android but is the same for iOS. The google sheets is common to both the platforms.
1. @Piiit we have not the power to add issue

[2021-10-13 11:24] RudiThoeni commented on #15
First i think it is better to understand why there are this multiple day events inside.....
I think displaying start date for an event from 00:01 - 23:59 (at example for day 2) does not make sense....... I think there are only a few events that goes over night (Hackathon).

In this case here the event inserted from Eurac Meeting Management is from Event startdate 27.10 - 29.10 Event enddate but on

[2021-10-13 13:55] Piiit commented on #52
@mare1991 @chiaraDimension I think the automatic update isn't working... the new version should be 0.1.0.1634049426, please try again to install the Alpha version from https://play.google.com/store/apps/details?id=it.bz.noi.community

[2021-10-14 07:55] chiaraDimension commented on #52
Super!

@Piiit the PR #54 is ready to be merged. It fixes point 2 of this issue. Thank you

[2021-10-14 12:59] MarE1991 commented on #49
@pkritzinger

[2021-10-14 15:27] macteo commented on #49
Overriding the standard platform font (Roboto on Android and San Francisco on iOS) presents many issues.
I try to briefly list them here, suggesting that we stick with the platform ones.

- Every single design element is carefully optimised for the standard font, being them Material or UIKIt ones. This takes in consideration typography, margins, alignment, baselines and so on.
- When the user choo

[2021-10-15 06:48] matax87 opened #55 "Localization of /v1/EventShort/RoomMapping"
See https://github.com/noi-techpark/it.bz.noi.community.android/issues/50

[2021-10-15 07:41] #55 closed, assigned to nobody

[2021-10-15 12:56] matax87 opened #56 "Integrate firebase crashlytics"

[2021-10-15 13:32] Piiit commented on #50
@chiaraDimension We found out that Github does not allow it to be added from you directly within the issue, but you can simply go to the Kanban board, and add it from there...

[2021-10-18 07:03] Piiit commented on #46
@LucaMiotto Does the problem still exist on your phone? Please close otherwise...

[2021-10-18 07:33] #52 closed

[2021-10-18 07:33] Piiit commented on #46
@LucaMiotto Let's do it the other way around, I close it, since I do no longer experience crashes at the moment. Feel free to re-open if necessary...

[2021-10-18 07:56] matax87 commented on #29
Yes

[2021-10-18 07:56] #50 closed, assigned to Piiit, RudiThoeni

[2021-10-18 08:00] Piiit commented on #40
This is still not working as it should, I have to manually delete and re-install the app to get an updated version... maybe we need to provide always a new version string, not just the build number... However, for Dimension this task is considered DONE... I will investigate when we start to have a broader test community

[2021-10-18 09:25] MarE1991 opened #58 "Order restaurants"
I still see the wrong order (already deleted app, deleted Play Store cache, and reinstalled app...) on my Android device, german version, 0.1.0.1634049426

The order should be:
NOI-Community Bar
Noisteria
Alumix

[2021-10-18 09:45] #58 closed, assigned to chiaraDimension

[2021-10-19 06:02] chiaraDimension opened #59 "Eat entries naming"
Restaurants names have to be updated, in accordance with issue https://github.com/noi-techpark/it.bz.noi.community.ios/issues/58

[2021-10-22 15:54] sseppi opened #62 "Placeholder image for events withoout image"
For all events without images the following images has to be use
![noitechpark-0763-190607©silbersalz-2_b_ausschnitt](https://user-images.githubusercontent.com/7909989/138485661-26a123ff-01a8-460a-94a5-1f607a210396.jpg)
![noitechpark-0763-190607©silbersalz-2_b_ausschnitt_1170x780](https://user-images.githubusercontent.com/7909989/138485754-055c452a-5d7a-4866-a446-8f7b83549f32.jpg)
d.

[2021-10-27 07:23] #62 closed, assigned to stezan, chiaraDimension

[2021-10-27 07:34] #59 closed, assigned to nobody

[2021-11-03 14:26] Piiit commented on #56
@chiaraDimension Perfect, thanks... I will test and let you know

[2021-11-03 14:30] Piiit commented on #56
@chiaraDimension CI fails... https://github.com/noi-techpark/it.bz.noi.community.android/runs/4093743031?check_suite_focus=true

[2021-11-03 14:54] chiaraDimension commented on #56
Sorry, we missed to restore google-services.json injection step (see PR #69 )

[2021-11-05 09:00] stezan opened #71 "Wrong versionName in Android Application"
Hi @Piiit , me and @chiaraDimension noticed that the **versionName** of the application is incorrect.
The version name should be for example **0.1.0**
The version code should be for example **1635954241**

<img width="1606" alt="Screenshot 2021-11-05 at 09 57 02" src="https://user-images.githubusercontent.com/22938515/140484558-f27cfeeb-bc4a-4c32-a990-805c3160162a.png">
.

You used 1635954241 both

[2021-11-05 09:22] Piiit commented on #40
@macteo @chiaraDimension @MarE1991 @sseppi Tested also the new version string, still the same... I need to uninstall and reinstall the app from the link. It also takes approx. 2 days to get then the new version. That is not satisfactory... maybe we should look into another way to provide test versions. Firebase eventually?

[2021-11-05 09:24] #6 closed

[2021-11-05 09:26] #56 closed

[2021-11-05 09:37] Piiit commented on #71
@chiaraDimension This was a test to see if the automatic updates arrive to the phones, when the string for versions also change each time... I just attached the versioncode to the version string to test that, to be sure to always have a unique identifier. However, the updates still do not arrive automatically. We need to uninstall and re-install the app, and in addition wait for the update approx

[2021-11-05 10:12] stezan commented on #71
@Piiit

- Version name: Is the app version visualised by the user on the Google Play Store, it is formed by 3 numbers (x.y.z) where x is the major version, y is the minor version and z identifies the eventual fix released to the user
- Version code: Is an incremental number that is used to differentiate the different builds on the Google Play Console

You can have as many "0.1.0" versions as you w

[2021-11-05 10:16] stezan commented on #71
You can install it and then check the build number in the Tab More if you have any doubt

[2021-11-16 07:59] Piiit commented on #15
@matax87 @RudiThoeni @MarE1991 I think this has to be decided internally and with the Event management, and then implemented. We cannot provide a mapping without a final decision on this.

[2021-11-16 08:02] Piiit commented on #71
@stezan I revert my changes...

[2021-11-16 08:23] Piiit opened #72 "Create a changelog automatically while releasing"
Related to #41

[2021-11-16 08:38] Piiit commented on #71
Fixed in https://github.com/noi-techpark/it.bz.noi.community.android/commit/eb3484af1837daf142eedd4078b82a71d56dc112

[2021-11-16 08:38] #71 closed

[2021-11-16 11:05] Piiit opened #73 "Better title in application menus"
Sometimes the title in the application menu is truncated or on two lines, better would be to have just the logo and the word "Community"... is that possible just for the menu, but still have "NOI Community" for the app name in general

[2021-11-16 11:06] Piiit opened #74 "Show the splash screen only one time at the very first login of each user, then never again."

[2021-11-16 15:11] Piiit commented on #73
Here it is on Android.... Since we already have "NOI" in the icon, it would be nice to just call it "Community" underneath... if that is possible at all and still keep the Store name "NOI Community"?

![appmenu](https://user-images.githubusercontent.com/6096063/142011292-15085b76-cfd9-48a4-bdb3-1dade0d1b8e3.png)

[2021-11-16 16:29] Piiit commented on #40
I think this can be closed, either we switch to another distribution mechanism or we should just be patient to wait releases as they are at the moment...

[2021-11-16 16:29] #40 closed

[2021-11-17 08:49] chiaraDimension commented on #73
Ok, we can try to change it, but for iOS version we have to see if Apple will accept it.

[2021-11-17 16:25] MarE1991 opened #75 "The section Orientate is not working and appears as a plain white page"
Version: 0.1.0.1637051767
Device used: Asus Zenfone 5
When clicking on the section "Orientate", instead of the interface with maps, a plain white page is shown.
@Piiit could you check this please and eventually assign to someone from Dimension? THX!

[2021-11-17 16:36] Piiit commented on #75
@MarE1991 Thx for the report, I need more information thou:

- What does "instead of the interface with maps" mean?
- Could you please try to clear the cache of the application and retry
- Please provide a step-by-step list... I am currently unable to reproduce this issue

I will assign you and myself in the meantime :-)

[2021-11-18 13:35] MarE1991 commented on #75
@Piiit instead of the interface simply means that Elisa can't see the maps, but only sees a white page... She can see the navigation bar and also the title and the "Book a room"-button, but she can't see maps. She already cleared the cache but the problem still exists.

[2021-11-23 07:50] Piiit commented on #73
Works, thx

[2021-11-23 07:50] #73 closed

[2021-11-23 07:51] Piiit commented on #74
Works, thx

[2021-11-23 07:51] #74 closed

[2021-11-23 08:11] Piiit commented on #75
@MarE1991 A new version (ending in ...611141) has been released yesterday, please test again and eventually close this issue

[2021-11-23 10:37] #1 closed

[2021-11-23 12:48] MarE1991 commented on #75
@Piiit she has deleted the app, cleared the cache, reinstalled the latest version, but it is still not working...

[2021-11-23 13:05] chiaraDimension commented on #75
@Piiit I reproduced the issue with Italian version. Maybe it's a problem with Italian URL, I'll check it.

[2021-11-23 13:08] Piiit commented on #75
@chiaraDimension That could be, in the past the URL without a language tag inside (like `/it`) was the Italian version... Now we always need to put the corresponding language in the URL...

--> https://maps.noi.bz.it/it/ or https://maps.noi.bz.it/de/ or https://maps.noi.bz.it/en/

The root address should redirect to the English version (https://maps.noi.bz.it)... could it be that redirection does

[2021-11-23 15:05] chiaraDimension commented on #75
Yes, that's exactly it. I changed the Italian URL from https://maps.noi.bz.it to https://maps.noi.bz.it/it/ and this will fix the issue (see #78).

[2021-11-24 10:22] RudiThoeni opened #79 "New parameter "optimizedates" available"
The api Endpoints EventShort and EventShort/{id} now have a new parameter called `optimizedates`.
By passing `optimizedates=true` there are done some checks on api side:
- Filtering out all rooms which should not displayed in the App (from Array Roombooked)
- Checking if Startdate/Enddate of the Event is in line with the first Startdate + last Enddate of the Rooms available

[2021-11-24 15:47] Piiit commented on #75
@MarE1991 The newest version (0.1.0.1637740955) should solve this issue, please test again and eventually close the issue

[2021-11-24 15:54] #75 closed

[2021-11-24 16:03] Piiit commented on #7
@chiaraDimension Please change the map URLS to this --> https://maps.noi.bz.it/en/?fullview=1&hidezoom=1 (depending on each language)... that should remove the cookie banner, zoom icons and title... thank you

[2021-11-24 16:07] chiaraDimension commented on #7
@Piiit the URL is already https://maps.noi.bz.it/en/?fullview=1&hidezoom=1 (depending on each language), but the parameters don't work yet (see https://github.com/noi-techpark/it.bz.noi.community.android/pull/45)

[2021-11-24 16:15] Piiit commented on #7
@chiaraDimension I deployed the new version 20 minutes ago, maybe you need to clear the cache to see the updated web site?

[2021-11-24 16:17] Piiit commented on #7
@chiaraDimension It works on my phone... cool :+1:

[2021-11-24 16:17] #7 closed

[2021-11-30 08:17] matax87 commented on #79
@RudiThoeni the new parameters has been added without any problem. Does exist any way to test it?

Thank you!

[2021-11-30 08:53] RudiThoeni commented on #79
at example for Id: "**eventshort-17926**"
`https://tourism.opendatahub.bz.it/v1/EventShort?startdate=1638261192823&eventlocation=NOI&datetimeformat=uxtimestamp&onlyactive=true`
there are currently 5 rooms into Roombooked, two of them are marked with x which means they should not displayed
Start and Enddate is set to
[code]

after applying the parameter
`https://tourism.opendatahub.bz.it/v1/EventSh

[2021-11-30 09:37] matax87 opened #80 ""/v1/EventShort/RoomMapping" missing"
This web api must be updated when `language=it`, since the https://maps.noi.bz.it default language isn't Italian anymore.

Thus, from this:
[code]

to

[code]

Thank you!

[2021-11-30 09:40] matax87 opened #81 "Event card UI doesn't consider the year of the event"

[2021-11-30 10:07] matax87 commented on #79
At this time we are not using `Roombooked`. Is this supposed to be an update for future iterations of the app?

[2021-11-30 10:16] RudiThoeni commented on #79
As far as i know the proposal for displaying events in the future is this:
-on the tiles view: display start + enddate of the events
-in the detail view of the event display the Information of Roombooked (means each day start + enddate)

@MarE1991 i don´t know in which iteration this plan will be implemented....  i think when it was not communicated yet it will be in the future iterations,

[2021-11-30 11:21] RudiThoeni commented on #80
Hi @matax87

done, https://tourism.api.opendatahub.bz.it/v1/EventShort/RoomMapping?language=it  returns now /it/ links

[2021-12-01 12:42] Piiit commented on #79
@matax87 @RudiThoeni @MarE1991 Works, thx

[2021-12-01 12:42] #79 closed

[2022-02-03 09:30] RudiThoeni commented on #16
Hi Chiara

I checked and Eventtype (Public, NOI Only) is now defined as "CustomTagging" in the api. and filterable by
CustomTagging Filter:
`&rawfilter=in(CustomTagging.[],"Key")`
TechnologyField Filter
`&rawfilter=in(TechnologyFields.[],"Key")`

All CustomTaggings/TechnologyFields are listed here and you can use the Titles in 'TypeDesc'
https://tourism.opendatahub.bz.it/v1/EventShortTypes

What i

[2022-02-03 09:33] MarE1991 commented on #16
@RudiThoeni @chiaraDimension the app filter should only display the two tags "NOI-Community" and "Public". The other filter options are irrelevant to the app.

[2022-02-03 10:33] RudiThoeni commented on #16
ok thx marion for clarify now i added a flag "Parent": "EventType" where we can filter on for the call what filters to display.....

so for dimension this query gives you all info to filter on
https://tourism.opendatahub.bz.it/v1/EventShortTypes?rawfilter=or(eq(Type,%22TechnologyFields%22),and(eq(Type,%22CustomTagging%22),eq(Parent,%22EventType%22)))
Here you find all text to display for the filte

[2022-02-07 13:25] sseppi opened #83 "As a NOI community manager I want the Open Data Hub Authentication integrated in the Android version of the NOI App."

[2022-02-23 07:52] chiaraDimension commented on #80
@Piiit this issue should already be completed. Can you confirm and eventually close it?

[2022-02-23 14:07] chiaraDimension commented on #16
Hi @RudiThoeni,
I'll try to summarise what we have commented above.

Filters are dynamic. To get them, we have to call the endpoint `https://tourism.opendatahub.bz.it/v1/EventShortTypes?rawfilter=or(eq(Type,%22TechnologyFi[…]q(Type,%22CustomTagging%22),eq(Parent,%22EventType%22)))`. From this endpoint we retrieve:

- the descriptions to show in the UI (in `TypeDesc` field there are the three trans

[2022-02-24 06:59] Piiit commented on #80
@RudiThoeni Could you please check and eventually close this issue

[2022-02-25 21:42] #80 closed

[2022-03-01 14:05] chiaraDimension commented on #16
@RudiThoeni could you please give us some feedback?

[2022-03-02 13:27] RudiThoeni commented on #16
Ok here we need the decision of the PMs @sseppi @MarE1991
Not sure if an event can be public and a noi community event.... or if a event can have more TechnologSectors applied?

I can only say from the data model/data insert form there are no restrictions. an event can have all of these ;)

[2022-03-02 13:32] MarE1991 commented on #16
@RudiThoeni @sseppi @chiaraDimension An event can either be public or for NOI-Community only. There are no events with both filters applicable, so it's an OR. Meanwhile an event can be classified with more technology fields, but normally we choose one, also because on the website there can only be displayed one. So, here an OR as well I would say.

[2022-03-04 15:00] chiaraDimension opened #86 "Tab Orientate: change "book a room" button"
<img width="377" alt="Screenshot 2022-03-04 at 15 59 38" src="https://user-images.githubusercontent.com/90265787/156786657-6019cb19-39c1-450e-95de-f36ce60b2390.png">

[2022-03-08 08:41] chiaraDimension commented on #16
@pkritzinger we found some issues in filters UI:

1. buttons should be fixed to page bottom (outside scrolling area), otherwise they could be hidden

![hidden_filter_buttons](https://user-images.githubusercontent.com/90265787/157197827-df358474-57cd-4f0d-85bf-c837d8551b82.png)

2. with fixed buttons, background color should be changed and margins should be reduced

2.1 In this case, buttons take t

[2022-03-08 11:05] pkritzinger commented on #16
@chiaraDimension : thanks for your input. We will check the possibilities we have and provide you an updated version for this view. I'll keep you posted.

[2022-03-08 12:04] matax87 commented on #16
For example:

![Uploading image.png…]()

I used an anchored footer with the same style of the old book a room in the orientate tab

[2022-03-08 13:35] pkritzinger commented on #16
@matax87 : looks good, thanks for your input. It might make sense to switch the order of the buttons and put a shadow on the white container, but I'll discuss internally and let you know. Hope that's fine for you!

[2022-03-09 10:54] matax87 commented on #16
@Piiit can you update the title of this issue and the iOS one (https://github.com/noi-techpark/it.bz.noi.community.ios/issues/18) to a more proper feature name? Thank you!

[2022-03-09 18:20] pkritzinger commented on #16
@matax87 @chiaraDimension Please find the updated version for the filters here (Screens 5&6):
https://xd.adobe.com/view/88f8c31f-4678-43db-9f08-843df01e1798-ddab/

I'll send you the respective file per mail since Github does not allow me to upload it.

[2022-03-10 08:56] Piiit commented on #16
@matax87 I am not involved in this issue...

@sseppi @MarE1991 What would you like to have as title here?

[2022-03-18 13:46] #86 closed

[2022-04-05 08:00] chiaraDimension commented on #83
@MarE1991 @pkritzinger
We need the texts to use in authentication wizard:

<img width="375" alt="page1" src="https://user-images.githubusercontent.com/90265787/161706630-2a4abaf4-485c-44b6-85f2-a0274e63995e.png">

![page2](https://user-images.githubusercontent.com/90265787/161706626-93af74eb-cf9c-48e7-8ccd-526b31add98b.png)

![page3](https://user-images.githubusercontent.com/90265787/161706621-336

[2022-04-05 08:12] chiaraDimension commented on #83
@sseppi could you provide us the URL to sign up page?

How does the flow "post sign up" work? Will we already have an active session? Or will we have to go through OAuth login?

[2022-04-05 13:13] sseppi commented on #83
@chiaraDimension the workflow is the same as for the testing enviroment that Peter shared with you in the past weeks.

[2022-04-05 16:17] MarE1991 commented on #83
@chiaraDimension I'll provide the texts in the three languages tomorrow.

[2022-04-06 08:15] chiaraDimension opened #89 "Log out"
@pkritzinger @MarE1991
We'd like to suggest to move _Log out_ option from _Tab More > App Settings_ to _Tab More > My account_. In this page we could add also some other user info that we retrieve from OAuth, like name, email...

![tab_more](https://user-images.githubusercontent.com/90265787/161928036-2e477fef-586f-49f1-a699-910dfba39e9e.png)

![logout](https://user-images.githubusercontent.com/90

[2022-04-06 08:21] chiaraDimension opened #90 "Change the positioning of the buttons in the event-detail"
Change the positioning of the buttons in the event-detail so that we have consisteny among buttons within detail pages.

<img width="379" alt="Screenshot 2022-04-06 at 10 20 20" src="https://user-images.githubusercontent.com/90265787/161929442-510c8589-495a-440f-b98d-34f77001e48f.png">

[2022-04-06 08:35] MarE1991 commented on #89
@chiaraDimension for met this would be ok. @pkritzinger what do you say?

[2022-04-06 12:40] Piiit commented on #83
@chiaraDimension I wrote you inside the other issue, hope that solves this issue as well

[2022-04-06 13:19] MarE1991 commented on #83
@chiaraDimension here we go with the texts:
[Onboarding Texte App.docx](https://github.com/noi-techpark/it.bz.noi.community.android/files/8427186/Onboarding.Texte.App.docx)

[2022-04-06 13:33] chiaraDimension commented on #83
Could you please add them to the[ Google Sheet](https://docs.google.com/spreadsheets/d/1Yiol3UqS-0I9q4R5HLifVMdGbTSe3ZwuYBAMPyZJthc/edit#gid=0)? There are also some other cells to fill

[2022-04-06 15:06] chiaraDimension commented on #89
I think they are only name (first name and family name) and email. @Piiit can you confirm, please?

[2022-04-07 06:54] MarE1991 commented on #83
@chiaraDimension ok, done! Let me know if there are other cells to fill.

[2022-04-07 08:00] chiaraDimension opened #91 "Tab News"
**API:**

https://github.com/noi-techpark/it.bz.noi.community/issues/20

**UI:**

<img width="377" alt="Screenshot 2022-04-07 at 09 57 39" src="https://user-images.githubusercontent.com/90265787/162149739-ee8cc1d7-6527-4eb8-ac98-dc89af946ef2.png">

[2022-04-07 08:03] chiaraDimension opened #92 "News detail"
**API:**

https://tourism.opendatahub.bz.it/swagger/index.html#/Article/SingleArticle

**UI:**

<img width="379" alt="Screenshot 2022-04-07 at 09 58 01" src="https://user-images.githubusercontent.com/90265787/162150335-070c746b-5744-4147-a2f4-cc3d842084e1.png">

[2022-04-11 08:35] chiaraDimension commented on #92
@MarE1991 should the buttons be hidden in case of link/email not set? Or are we sure that these info will be always present?

[2022-04-11 15:03] MarE1991 commented on #92
@chiaraDimension they should be hidden in case of link/email not set. It could happen that there is no link to further information..

[2022-04-14 10:27] chiaraDimension commented on #83
@pkritzinger we noticed that, depending of screen size, the texts in onboarding wizard can become unreadable: when title and description are placed about in the middle of the screen, the background is too light.

![Screenshot_20220414_120703](https://user-images.githubusercontent.com/90265787/163368095-7b1a0179-d941-4ffe-b51c-7970a7a3446b.png)

[2022-04-14 12:13] pkritzinger commented on #83
hi @chiaraDimension . thanks.  i would suggest that we provide a new dark-transparent layer. we'll update the design respectively.

[2022-04-15 14:44] macteo opened #96 "Favourited contacts and last used filters"
In the last call (14-04-2022) the idea to offer two features that let the user do some persistent operations in the app, maintaining the state between app launches, has been introduced.

Those features are:
- Marking a contact as a favourite.
- Saving (implicitly) the filters applied.
Both of them on the Meet section.

Usually there are two approaches to save the preferences and generically user g

[2022-04-15 14:45] pkritzinger commented on #83
@chiaraDimension : screens have been updated in the XD-file we shared with you.

[2022-04-19 06:55] sseppi commented on #96
@macteo I would go for the local storage solution too.

Actually the APIs aren't storing the data in the Open Data Hub. The Open Data Hub is simply converting and simplifying the data you receive. For this reason the changes that has to be done on the Open Data Hub are not so trivial and need to be better investigated.

[2022-04-20 15:02] sseppi opened #97 "MEET | As a user of the app I want to see the noi contact."

[2022-05-12 08:28] Piiit opened #99 "Image sizes are too big (several MB of data)"
**Describe the bug**
When I merged the last PR #98, I saw that some images are MBytes of data. We should try to understand what a maximum resolution could be, and down sample each image.

**To Reproduce**
--

**Expected behavior**
Smaller images, such that the application installation is as small as possible and does not use too much space on our phones

**Screenshots**
If applicable, add screensh

[2022-05-12 13:08] chiaraDimension commented on #90
Implemented in PR #94

[2022-05-13 14:45] chiaraDimension opened #100 "News - Push notifications"
@MarE1991, @pkritzinger
To create the notification banner when the app is in foreground, Android requires a small icon that is use for both the banner and the status bar. Can you please provide it to us?

Banner:
<img width="441" alt="Screenshot 2022-05-13 at 16 04 14" src="https://user-images.githubusercontent.com/90265787/168308340-84c5bfad-e2aa-4a22-bf12-bd56600e969f.png">

Status bar:
<img wid

[2022-05-13 15:57] pkritzinger commented on #100
Hi @chiaraDimension - yes, no problem.
Are there any specifications regarding size and/ or file format of the icon?

[2022-05-16 06:53] chiaraDimension commented on #100
The icon should be of size 24x24dp. You can find more specifications on [Material Design page](https://material.io/design/platform-guidance/android-notifications.html#anatomy-of-a-notification)

[2022-05-16 07:14] chiaraDimension commented on #92
@pkritzinger can you provide us a placeholder image to use while loading the image gallery?

[2022-05-16 07:36] #83 closed

[2022-05-16 20:12] pkritzinger commented on #100
@chiaraDimension
please find the icons attached:
- 24*24 --> png
- 48*48 (double resolution) --> png
- 24*24 --> svg

please let me know if you should need anything else.

[sh_nudo_NOI-App_Notification-Banner-Status_220516.zip](https://github.com/noi-techpark/it.bz.noi.community.android/files/8703112/sh_nudo_NOI-App_Notification-Banner-Status_220516.zip)

[2022-05-17 07:37] chiaraDimension commented on #100
@pkritzinger
In our opinion, the final effect is not "readable" using this icon:

<img width="653" alt="Screenshot 2022-05-17 at 08 37 42" src="https://user-images.githubusercontent.com/90265787/168753080-a92aec1f-6cd8-499d-8450-a7a3ec4388e4.png">

<img width="655" alt="Screenshot 2022-05-17 at 08 37 20" src="https://user-images.githubusercontent.com/90265787/168753086-f351a145-1452-4735-85ea-60f3

[2022-05-18 07:04] chiaraDimension commented on #97
@sseppi
As regards point 1, can you confirm that we don't have to add this filter to the query (as reported [here](https://github.com/noi-techpark/it.bz.noi.community-api/blob/development/docs/consumer.md))?

`$filter=Microsoft.Dynamics.CRM.ContainValues(PropertyName%3D%40p1,PropertyValues%3D%40p2)%20and%20statuscode%20eq%201`

Using this filter, the query returns only 4 accounts.

Query:
`https:/

[2022-05-18 07:30] sseppi commented on #97
@chiaraDimension

No, the right one is the first query. At the moment you are making the query to the testing environment where we have only a few companies marked as NOI community.

Sorry it was my mistake, the filter to not consider inactive accounts and contact is needed as reported in the link you shred.

[2022-05-18 11:20] chiaraDimension commented on #97
Ok! Is it possibile to mark other companies as NOI community in the testing environment as well? It's really difficult to test the implementation and especially the performance if we don't have a real number of accounts.

[2022-05-18 13:03] sseppi commented on #97
We deployed in also the production environment that you can use.
You cand find more detail at the following issue:
https://github.com/noi-techpark/it.bz.noi.community-api/issues/19

[2022-05-19 19:55] pkritzinger commented on #100
hi @chiaraDimension : it is hard for us to provide another solution since we would start touching the NOI-brand if we came up with another icon.
@MarE1991 what do you think?

[2022-05-20 06:59] MarE1991 commented on #100
@pkritzinger @chiaraDimension I confirm that we have to take the existing icon and can't create a new one. The only alternative would be to take the black circle with the white lines (same/similar as in NEWS).

[2022-05-20 07:24] macteo commented on #100
In our opinion having an illegible notification icon is not a suggested behaviour and the brand identity should bend favouring legibility instead of consistency.

However we can obviously use the illegible icon.
We just needed your consent.

[2022-05-20 08:36] chiaraDimension commented on #97
@sseppi
How should be handle contacts without associated company (_parentcustomerid_value = null)?

i.e.
`{
            "@odata.etag": "W/\"70373695\"",
            "emailaddress1": "l.geier@noi.bz.it",
            "firstname": "Lisa",
            "lastname": "Geier",
            "_parentcustomerid_value": null,
            "contactid": "7f3ebb76-7a6f-ea11-a811-000d3a4aa602"
        },`

[2022-05-20 15:30] pkritzinger commented on #92
@chiaraDimension we've added a placeholder image in the XD-File named sh_nudo_NOI-App_MVP2_2

You should already have access to the file.

[2022-05-23 06:07] MarE1991 commented on #97
@sseppi @chiaraDimension there are no contacts without a company or institution associated. If so, then it's an error. We check all Community contacts every few days and add the missing information. So if this situation happens, then I would also say that we just don't show the info.

[2022-05-23 08:09] chiaraDimension commented on #97
The example above was from testing machine. Effectively, in production environment I don't find contacts without associated company. In this case, there is another problem instead: just a few contacts find a match with a company in companies list (in particular, they seem to be only contacts of NOI Labs). Can you check?

[2022-05-23 10:46] chiaraDimension commented on #92
@pkritzinger It should be a static image

[2022-05-23 12:16] MarE1991 commented on #97
@chiaraDimension indeed, there are exactly 21 contacts that have a LAB as account and though as company. In these cases, the company name would be the parent account (see image attached). @sseppi Is it possible to create an API where the parent account is taken in consideration in case there is one? Otherwise, I have to confront me with our CRM repersentative and solve the problem with these 21 co

[2022-05-23 12:34] pkritzinger commented on #92
@chiaraDimension in that case I would simply use the grey rectangle, I've exported it as jpg - see attached
![noi-app-placeholder-image-loading](https://user-images.githubusercontent.com/92454516/169820273-b4c8f867-e8c0-42f0-bc61-24cf507cf982.jpg)
.

[2022-05-23 13:22] chiaraDimension commented on #97
@MarE1991 Maybe we had a misunderstanding. We already have the information to retrieve the company name of the contact. What we think is wrong is that we have the company name for only these 21 contacts. For everyone else, the parent account id doesn't match any company.

For example:
- for `Giovanni Carabin`, we show `NOI Labs - Field Robotics Lab`
- for `Stefano Seppi`, we don't show any company

[2022-05-23 13:59] MarE1991 commented on #97
@chiaraDimension ok, now I got it. This is actually wrong, we have to take the "Company Name"-information and only use the "Parent Account"-one when there is one (means when the Company Name is a LAB). @sseppi can you please verify this? THX

[2022-05-25 12:19] #99 closed

[2022-05-26 06:56] Piiit opened #103 "Crash with newest update"
**Describe the bug**
The app crashes immediately after the last PR merge and update from 2022-05-25. Uninstalling and installing the app shows the login screen, but after the login we got crashes again.

**To Reproduce**
Steps to reproduce the first behavior:
1. Update to the newest version of the app (app must be already present on your phone)
2. Open it
3. See crash

Steps to reproduce the secon

[2022-05-26 07:01] Piiit commented on #103
@chiaraDimension FYI

[2022-05-26 08:36] chiaraDimension commented on #103
@Piiit It should be fixed. Can you check, please?

[2022-05-26 09:45] #103 closed

[2022-06-09 08:29] Piiit commented on #89
@sseppi @MarE1991 @pkritzinger  The new update will be available in a few hours, please check and eventually close this issue if you are satisfied with the changes...

[2022-06-10 11:53] MarE1991 opened #108 "Login - being asked every single time I access the app"
Every single time I open the app, it asks me to do the login. I thought I would stay logged in automatically once having the app installed and having done the first login.

- Android Version: 11
- Language of your application: `de`
- Phone: Samsung Galaxy A40
- Application version: 0.1.0.1652364224

[2022-06-13 10:05] chiaraDimension opened #109 "Contact detail: field "Name of laboratory""
@MarE1991, @sseppi

As mentioned by @pkritzinger by mail, a new field "Name of laboratory" as been added in the UI of contact detail. However, if you want to show this info too, we need to know where to retrieve it.

Thank you!

<img width="265" alt="Screenshot 2022-06-13 at 08 24 40" src="https://user-images.githubusercontent.com/90265787/173330641-0942ee77-c0a2-472f-a710-271d41afbc18.png">

[2022-06-13 12:40] sseppi commented on #109
Hi,
I will need to check the CRM and the JASO we receive to see if the information is retrived and in which field.
I would suggest to keep only the name of the Institution at the moment, and in a short time add the Laboratory as well.
In this way we will have the time to analyse everything without too much stress.
@MarE1991 is it fine for you?
Best
Stefano

[2022-06-13 12:44] MarE1991 commented on #109
@sseppi yes, that's fine.

[2022-06-13 14:58] Piiit commented on #97
@MarE1991 No usually you just need to update, see the link under https://github.com/noi-techpark/it.bz.noi.community.android#deployment ... click that on your phone and see if you get an "update" button inside the Google Play Store

[2022-06-14 06:37] Piiit commented on #97
@MarE1991 If that did not solve your issues, please hold the app icon for some time and choose "App Info" or a similar item... then delete the cache or application data, restart the app and see...

[2022-06-14 07:37] MarE1991 commented on #97
@Piiit now it worked, thank you!! 👍 For me the new page is perfectly fine, but I would discuss this in our meeting this afternoon, then we can close the issue.

[2022-06-14 13:48] RudiThoeni opened #112 "Push Notification Detail Page not showing"
**Describe the bug**
The push message is delivered on the phone but the Detail page is not opening with the send news. (Tested with ID: 		"link": "noi-community://it.bz.noi.community/newsDetails/B5159512-A6E7-42C6-8792-1E947B3531A7")

**To Reproduce**
Steps to reproduce the behavior:
1. Push Message has to be sent
2. Open the push message

**Expected behavior**
The Detail page of the according new

[2022-06-14 13:50] RudiThoeni opened #113 "Add google playstore link for beta testers"
In the more section add this link https://play.google.com/store/apps/details?id=it.bz.noi.community with title "Application Update".

[2022-06-14 14:05] RudiThoeni opened #114 "Google Maps Link not working"
**Describe the bug**
The google maps link inside Meet / Detailview -- Maps Button does not work, it always shows "Download google maps or waze...."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Meet'
2. Click on 'a Detailview of a record'
3. click on 'the button maps'
4. See message

**Expected behavior**
Google Maps should open or a dialog to ask which map application if more are a

[2022-06-16 13:13] MarE1991 opened #115 "Add two different feedback forms to MORE"
The first feedback form has the following titles:
IT: YOUR FEEDBACK
DE: YOUR FEEDBACK
EN: YOUR FEEDBACK

Here is the respective link to embed:
<iframe width="640px" height="480px" src="[https://forms.office.com/Pages/ResponsePage.aspx?id=R_WstlLDCEenJewOZixdERIOZ0hE1k5LlWwUM_AXhdlUNzRHNlJQRlNRRlI3TDROVkQ2OTcwTDNLMS4u&embed=true"](https://forms.office.com/Pages/ResponsePage.aspx?id=R_WstlLDCEenJewO

[2022-06-16 14:43] Piiit commented on #108
@MarE1991 We incremented the timeout now, please test again and see if it good enough like this

[2022-06-16 14:46] Piiit commented on #108
@sseppi FYI

[2022-06-17 13:32] chiaraDimension commented on #112
There was a bug in the Android manifest. The PR #116 fixes it.

[2022-06-17 13:35] chiaraDimension commented on #114
The method used to find the address with an external map (i.e. Google Maps) requires additional permissions with Android 11+. The issue will be solved by the PR #117.

[2022-06-20 08:29] #112 closed

[2022-06-20 08:30] #114 closed, assigned to chiaraDimension

[2022-06-20 09:29] MarE1991 commented on #108
@Piiit great, now it seems to work for a couple of days, should be fine for now. Thank you!

[2022-06-20 09:29] #108 closed

[2022-06-21 17:43] #113 closed

[2022-06-21 17:45] #115 closed

[2022-07-05 13:02] Piiit opened #123 "Some events use locations that do not exist"
![Screenshot_2022-07-05-15-01-35-734_it.bz.noi.community.jpg](https://user-images.githubusercontent.com/6096063/177333782-797d3c03-e321-4866-9386-1d0c5a3e4ff6.jpg)

[2022-07-06 14:38] MarE1991 opened #124 "The image sizes/measures in the detail view of single events are wrong"
The images I see when opening an event detail page are wrong. Shouldn't they have kind of a 3:2 size or something like that? Now they are all in portrait format and that causes that most of the images and graphics get cut.

- Android Version: 11
- Language of your application: de
- Phone: Samsung Galaxy A40
- Application version (you find it in the `More` section under the NOI logo): 0.1.0.1657010

[2022-07-07 08:18] matax87 commented on #124
@MarE1991 we set the wrong size. By design the size must be 315x210 which is indeed a ratio of 3:2. Is it ok? See the attached screenshot

![Simulator Screen Shot - iPhone SE (3rd generation) - 2022-07-07 at 10 13 14](https://user-images.githubusercontent.com/4108197/177726016-8643c01f-990f-488e-ae91-8e8c77beb20a.png)

![Simulator Screen Shot - iPhone SE (3rd generation) - 2022-07-07 at 10 15 13](

[2022-07-07 08:24] chiaraDimension commented on #124
@MarE1991
I still have to fix the Android version.

[2022-07-07 08:24] matax87 commented on #124
Please note that on iOS we also have the wrong horizontal spacing between images. I'm going to fix both the issue on iOS and @chiaraDimension is going to fix just the images' size issue on android.

Thank you.

[2022-07-07 08:25] MarE1991 commented on #124
@chiaraDimension ok sorry, I reopened and will check when done also on android. THX

[2022-07-08 13:12] #124 closed

[2022-07-11 08:38] Piiit commented on #123
Duplicate of https://github.com/noi-techpark/it.bz.noi.community/issues/26

[2022-07-11 08:38] #123 closed

[2022-08-05 10:22] MarE1991 opened #127 "Detail Page Events | do not show "additional text" as first paragraph"
I noticed, that in the detail page of the events the first paragraph is always the "additional text" which is also shown on the start page as a preview. I would ask you to remove this "additional text" from the detail page, as it is nearly always the first two sentences of the text following and thus a duplication. Find the Screenshots attached.
Android Version: 11
Language of your application: de

[2022-08-09 09:56] chiaraDimension commented on #127
Hi @MarE1991,
we had agreed to always show the field "additional text" as the first paragraph of the detail page in order to have any images in the middle of the text. As you can see from the screenshot below, the UI design involves:

1. title
2. short text
3. image(s)
4. long text

<img width="208" alt="Screenshot 2022-08-09 at 10 57 10" src="https://user-images.githubusercontent.com/90265787/183

[2022-09-15 12:27] pkritzinger commented on #49
@chiaraDimension - overall the UI with the custom-font looks very good. We've found some potentials for optimization on the iOS-Version that I will list below (just to make sure that you are also updated ;)). @lukasnagler tested the Android version and did not report anything else.

- List view of Events (https://prnt.sc/Nx2ks9qIDMgN): can we reduce the font size to 25pt. line height 30pt?
- Detai

[2022-09-15 13:14] pkritzinger opened #128 "Event Date: Outline for yellow circle"
Can we pls. add a white border to the yellow circle containing the event date? Find the specs below:
- Color: white
- Border: 1px

**Screenshot**
Please let us know if you need further specs.

![Screenshot_2](https://user-images.githubusercontent.com/92454516/190412695-9f620c42-6ad6-4d3a-aae4-992c2e5586b9.png)

[2022-09-20 07:06] #128 closed